.card-carousal {
  padding-left: 57px;
  padding-right: 57px;
  height: 400px;
  width: 320px;
  @include media-breakpoint-down(md) {
    width: 400px;

  }
}

.width-md-25 {
  @include media-breakpoint-up(md) {
   width: 25%;
  }
}


  .width-xs-100 {
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
  